name: Run Continue Agents

on:
  pull_request:
    types: [opened]
    branches:
      - main

jobs:
  agents:
    permissions:
      contents: write
      pull-requests: write
      checks: write
    uses: continuedev/continue/.github/workflows/continue-agents.yml@main
    secrets: inherit
